<h1> </h1>
<p> </p>
<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">TITOLO DEL FILM</p>
    </div>
  </div>
</div>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Genere-</li>
  <li class="list-group-item">Regia-</li>
  <li class="list-group-item">Attori-</li>
  <li class="list-group-item">Durata-</li>
</ul>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Scrivi la tua recensione</label>
</div>
