<div class="container-fluid fs-3">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 border border-primary border-3 rounded-2  mt-2">
                      <!--   Inizio Gioco       -->
            <div *ngIf="!this.start" class="text-center mb-2 mt-2"> 
                <button (click)="onStart()" type="button" class="btn btn-primary fs-2 text-white">
                <fa-icon [icon]="playIcon"></fa-icon> Inizia</button>
                <app-ranking></app-ranking>
            </div>

                    <!--   gioco avviato    -->
           <div *ngIf="this.start">
                    <!--  titolo e timer     -->
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <h2 class="mt-1" *ngIf="this.finish">{{movieDetails?.title}}</h2>
                    </div>
                    <div class="col-6 text-center">
                        <app-time *ngIf="!this.finish" [minutes]="this.minutes!" [seconds]="this.seconds!" [time]="this.time" ></app-time>
                        <app-game-result *ngIf="this.finish" [points]="this.points!" [win]="this.win"></app-game-result>
                    </div>
                </div>
                     <!--   dati da indovinare   -->
                <div class="row text-center">
                    <app-poster class="col-12 col-md-7" [ngStyle]="{'filter': blurString}" [detail]="this.movieDetails!"></app-poster>
                    <app-guess-data class="col-12 col-md-5 align-self-center  border border-primary border-2 rounded-2"
                    [movieDetails]="this.movieDetails!" [showActors]="this.showActors" [showDate]="this.showDate" [showDirector]="this.showDirector"
                    [showGenres]="this.showGenres" [cast]="this.cast!" [director]="this.director!"></app-guess-data>
                    
                </div>  
                    <!--    inserimento titolo       -->
                <app-guess-form *ngIf="!this.finish" [movieDetails]="this.movieDetails!" (callParentFunc)="guessed()"></app-guess-form>
               
                     <!-- fine gioco rigioca/salva-->
                <div *ngIf="this.finish" class="text-center" >     
                    <button  type="button" class="btn btn-primary me-1 text-white" (click)="playAgain()">
                        <fa-icon [icon]="playIcon"></fa-icon> Rigioca</button>
                    <button  type="button" class="btn btn-primary me-1 text-white" (click)="save()">
                        <fa-icon [icon]="saveIcon"></fa-icon> Salva Film</button>
                </div>
            </div>
        </div> 
    </div>
</div>