<div class="container-fluid">
  <div class="row">
    <div class="col-2">
     
    </div>
    <div class="col-8">
      <h1 class="text-center">Bentornato</h1>
      <p class="text-center">Non perdere tempo accedi subito e inizia a giocare!!</p>
      <form #loginForm="ngForm" (submit)="login(loginForm)">
    <div class="mb-3"> 
        <label for="username" class="form-lable">Username</label>
    <input [ngModel] name="username" type="text" class="form-control" id="username" placeholder="username">
    </div>
    <div class="mb-3" >
    <label for="password" class="form-lable">Password</label>
    <input [ngModel] name="password" type="text" class="form-control" id="password" placeholder="password">
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Login</button>
    <p><a routerLink="/registration">Se non hai ancora un account registrati subito!</a></p>
   </div>
  </form>
    </div>
    <div class="col-2">
      
    </div>
  </div>


    </div>

