<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div *ngIf="this.logged; then isLogged else notLogged"></div>
      <ng-template #notLogged>
      <div class="card">
        <!-- MACRO SEZIONE HEADER-->
        <div class="card-header">
          <h1 class="text-center">Bentornato</h1>
          <p class="text-center">Non perdere tempo accedi subito e inizia a giocare!!</p>
        </div>
        <!-- MACRO SEZIONE FORM-->
        <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <!-- richiesta username-->
        <div class=" form-group mb-3"> 
            <label for="username" class="form-lable">Username</label>
        <input type="text" class="form-control " id="username" placeholder="username" 
            required
          [ngModel] name="username" #username="ngModel"> 
        <div [hidden]="username.valid "
             class="alert alert-danger">
          Inserisci un username
        </div>
        </div>
                  <!-- richiesta password-->
        <div class=" form-group mb-3" >
        <label for="password" class="form-lable">Password</label>
        <input  type="text" class="form-control" id="password" placeholder="password"
          required
          [ngModel] name="password" #password="ngModel">
          <div [hidden]="password.valid"
          class="alert alert-danger">
       Inserisci una password
     </div>
        </div>
        <!--   sezione pulsante o reindirizzamento registrazione-->
        <div class="text-center">
          <div *ngIf="error" class="alert alert-danger" role="alert">
            Username o Password errati!
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
        <p><a routerLink="/registration">Se non hai ancora un account registrati subito!</a></p>
        </div>
        </form>
        </div>
      </div>
   </ng-template>
   <ng-template #isLogged> 
    <div class="alert alert-success" role="alert">
       Ciao {{this.user?.username}} login avvenuto con sucesso.....
    </div></ng-template>
  </div>
</div>

    </div>

