<div class="container-fluid fs-3 ">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 border-primary  mt-2">
      <ul class="list-group  list-group-horizontal fs-5">
        <li class="list-group-item border-primary" (click)="ordinaPunteggio()">Punteggio <fa-icon [icon]="faScoreOrder"></fa-icon></li>
        <li class="list-group-item border-primary" (click)="ordinaTitolo()">Titolo <fa-icon [icon]="faTitleOrder"></fa-icon></li>
        
      </ul>
      <div class="row">
        <div *ngFor="let movie of this.movieList" class="card col-6 col-sm-4 col-md-4 col-lg-3 text-center mt-2 border-primary " >
          <div class="position-relative mt-1">
            <app-poster [detail]="this.movie.movieDetail"></app-poster>
            <app-movie-score [movie]="this.movie"></app-movie-score>
          </div>
          <app-movie-list-body class="card-body d-flex flex-column" [movie]="this.movie"></app-movie-list-body>  
        </div>
      </div>    
    </div>
  </div>
</div>
