<form  class="mb-3"  #updatePassword="ngForm" (submit)="updatePasswordFunc(updatePassword)">
    <label for="password" class="form-lable">Password</label>
    <div class="row">
        <div class="col-11">
            <input  [type]="show ? 'text' : 'password'" class="form-control border-light" id="password" placeholder="password"
            required
            [ngModel] name="password" #password="ngModel">
        </div>
        <fa-icon (mousedown)="show = !show" (mouseup)="show = !show" 
        class="col-1 ps-0  icon text-primary" size="lg" [icon]="eyeIcon"></fa-icon>
    </div>

    <div [hidden]="password.valid"
        class="alert alert-danger">
        Inserisci una password
    </div>
    <label for="nuovaPassword" class="form-lable"> Nuova Password</label>
    <div class="row">
        <div class="col-11">
            <input  [type]="show ? 'text' : 'password'" class="form-control border-light" id="nuovaPassword" placeholder=" nuova password"
            required
            [ngModel] name="nuovaPassword" #nuovaPassword="ngModel">
        </div>
        <fa-icon (mousedown)="show = !show" (mouseup)="show = !show" 
        class="col-1 ps-0  icon text-primary" size="lg" [icon]="eyeIcon"></fa-icon> 
    </div>

    <div [hidden]="password.valid"
        class="alert alert-danger">
        Inserisci una password
    </div>

    <div *ngIf="wrongPass" class="alert alert-danger" role="alert">
        Password errata!
    </div>


    <button type="submit" class="btn btn-primary text-white"
    [disabled]="!updatePassword.form.valid || updatePassword.form.pristine" >
    Modifica</button>
</form>
