<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Registrazione</h1>
                    <p class="text-center">Inserisci i dati nuovo utente</p>
                </div>
                <div class="card-body">
                    <form #registrationForm="ngForm" (ngSubmit)="registration(registrationForm)">
                    <div class="form-group mb-3"> 
                        <label for="username" class="form-lable">Username</label>
                        <input  type="text" class="form-control" id="username" placeholder="username"
                        required
                        [ngModel] name="username" #username="ngModel">
                        <div [hidden]="username.valid"
                        class="alert alert-danger">
                        Inserisci un username
                        </div>
                    </div>
                    <div class="form-group mb-3" >
                        <label for="password" class="form-lable">Password</label>
                        <input  type="text" class="form-control" id="password" placeholder="password" 
                        required
                        [ngModel] name="password" #password="ngModel">
                        <div [hidden]="password.valid "
                        class="alert alert-danger">
                        Inserisci una password
                        </div>
                    </div>
                    <div class="form-group mb-3" >
                        <label for="confirmPassword" class="form-lable">Conferma Password</label>
                        <input  type="text" class="form-control" id="confirmPassword" placeholder="conferma password" 
                        required
                        [ngModel] name="confirmPassword" #confirmPassword="ngModel">
                        <div [hidden]="confirmPassword.valid"
                        class="alert alert-danger">
                        Conferma la password
                        </div>
                    </div>
                    <div class="text-center">
                        <div *ngIf="error" class="alert alert-danger" role="alert">
                             Password differenti!
                         </div>
                        <button type="submit" class="btn btn-primary"  [disabled]="!registrationForm.form.valid">Registration</button>
                    </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>


