<div class="container-fluid fs-3">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 rounded-2 mt-2">
            <div *ngIf="this.registered; then isRegistered else notRegistered"></div>
            <ng-template #notRegistered>
            <div class="card border-light">
                <div class="card-header bg-light">
                    <h1 class="text-center">Registrazione</h1>
                    <p class="text-center">Inserisci i dati nuovo utente</p>
                </div>
                <div class="card-body">
                    <form #registrationForm="ngForm" (ngSubmit)="registration(registrationForm)">
                    <div class="form-group mb-3"> 
                        <label for="username" class="form-lable">Username</label>
                        <input  type="text" class="form-control border-light" id="username" placeholder="username"
                        required
                        [ngModel] name="username" #username="ngModel">
                        <div [hidden]="username.valid"
                        class="alert alert-danger">
                        Inserisci un username
                        </div>
                        <div *ngIf="exist" class="alert alert-danger" role="alert">
                            Username gia esistente!
                        </div>
                    </div>
                    <div class="form-group mb-3" >
                        <div class="row">
                            <div class="col-11">
                                <label for="password" class="form-lable">Password</label>
                                <input  [type]="show ? 'text' : 'password'" class="form-control border-light" id="password" placeholder="password" 
                                required
                                [ngModel] name="password" #password="ngModel">
                            </div>
                            <div class="col-1 pt-4 ps-0 mt-3">
                                <fa-icon (mousedown)="show = !show" (mouseup)="show = !show" class=" icon text-primary" size="lg" [icon]="eyeIcon"></fa-icon></div>
                        </div>
                        <div [hidden]="password.valid "
                        class="alert alert-danger">
                        Inserisci una password
                        </div>
                    </div>
                    <div class="form-group mb-3" >
                        <div class="row">
                            <div class="col-11">
                                <label for="confirmPassword" class="form-lable">Conferma Password</label>
                                <input [type]="show ? 'text' : 'password'" class="form-control border-light" id="confirmPassword" placeholder="conferma password" 
                                required
                                [ngModel] name="confirmPassword" #confirmPassword="ngModel">
                            </div>
                            <div class="col-1 pt-4 ps-0 mt-3">
                                <fa-icon (mousedown)="show = !show" (mouseup)="show = !show" class=" icon text-primary" size="lg" [icon]="eyeIcon"></fa-icon></div>
                        </div>
                        <div [hidden]="confirmPassword.valid"
                        class="alert alert-danger">
                        Conferma la password
                        </div>
                    </div>
                    <div class="text-center">
                        <div *ngIf="error" class="alert alert-danger" role="alert">
                             Password differenti!
                         </div>
                        <button type="submit" class="btn btn-primary text-white"  [disabled]="!registrationForm.form.valid">Registration</button>
                    </div>
                    </form>
                </div> 
            </div>
            </ng-template>
                 <ng-template #isRegistered> 
                <div class="alert alert-success mt-5" role="alert">
                   Registrazione avvenuta.....effettua il login!
                </div></ng-template>
        </div>
    </div>
</div>


