
<div class="container-fluid fs-3">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 rounded-2 border border-primary border-2 ">
      <h1 class="text-center">Sfida la tua conoscenza Cinematografica </h1>
      <div class="row">
        <app-carosello class="col-12 col-md-6 align-self-center"></app-carosello>
        <div class="col-12 col-md-6 align-self-center">
          <p>Divertiti ad indovinare il film proposto prima che il tempo scada. 
          Avrai 3 minuti per indovinare piu sarai rapido piu alto sarà il tuo punteggio</p>     
          <p>Saranno disponibili, con il passare del tempo, sempre piu indizi.<br> 
          Inoltre il blur della locandina sarà sempre minore sino a renderla completamente visibile.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 align-self-center">
          <p> Ogni secondo passato sarà un prezioso punto in meno!</p>
          <p> Finito di giocare potrai decidere di salvare il film nei preferiti. <br>
          Dalla sezione dedicata potrai accedere a tutti i film salvati e vedere le informazioni su ognuno di essi. </p>   
        </div>
        <div class="col-12 col-md-6">
          <img src="../../../assets/salvataggio.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>